DB_USER=olist_user
DB_PASS=olist_pass
DB_NAME=olist_db
MB_ADMIN_EMAIL=admin@example.com
MB_ADMIN_PASSWORD=Test1232026
# for local testing
# DB_HOST=localhost
# DB_PORT=5435
# for airflow
# DB_HOST=postgres-olist
# DB_PORT=5432